.tfsStart {
    -fx-font: 20px Arial;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-text-inner-color:black;
    -fx-font-weight: bold;
    -fx-background-size: 80px;
}
#tfsStart00 {
    -fx-background-image: url("images/taraMountain00.jpg");
}

#tfsStart01 {
    -fx-background-image: url("images/taraMountain01.jpg");
}

#tfsStart02 {
    -fx-background-image: url("images/taraMountain02.jpg");
}

#tfsStart03 {
    -fx-background-image: url("images/taraMountain03.jpg");
}

#tfsStart04 {
    -fx-background-image: url("images/taraMountain04.jpg");
}



#tfsStart10 {
    -fx-background-image: url("images/taraMountain10.jpg");
}

#tfsStart11 {
    -fx-background-image: url("images/taraMountain11.jpg");
}

#tfsStart12 {
    -fx-background-image: url("images/taraMountain12.jpg");
}

#tfsStart13 {
    -fx-background-image: url("images/taraMountain13.jpg");
}

#tfsStart14 {
    -fx-background-image: url("images/taraMountain14.jpg");
}



#tfsStart20 {
    -fx-background-image: url("images/taraMountain20.jpg");
}

#tfsStart21 {
    -fx-background-image: url("images/taraMountain21.jpg");
}

#tfsStart22 {
    -fx-background-image: url("images/taraMountain22.jpg");
}

#tfsStart23 {
    -fx-background-image: url("images/taraMountain23.jpg");
}

#tfsStart24 {
    -fx-background-image: url("images/taraMountain24.jpg");
}



#tfsStart30 {
    -fx-background-image: url("images/taraMountain30.jpg");
}

#tfsStart31 {
    -fx-background-image: url("images/taraMountain31.jpg");
}

#tfsStart32 {
    -fx-background-image: url("images/taraMountain32.jpg");
}

#tfsStart33 {
    -fx-background-image: url("images/taraMountain33.jpg");
}

#tfsStart34 {
    -fx-background-image: url("images/taraMountain34.jpg");
}



#tfsStart40 {
    -fx-background-image: url("images/taraMountain40.gif");
}

#tfsStart41 {
    -fx-background-image: url("images/taraMountain41.gif");
}

#tfsStart42 {
    -fx-background-image: url("images/taraMountain42.gif");
}

#tfsStart43 {
    -fx-background-image: url("images/taraMountain43.gif");
}

#tfsStart44 {
    -fx-background-image: url("images/taraMountain44.gif");
}




#emptyField
{
	-fx-background-color:white;
}

.emptyField
{
	-fx-background-color:white;
}
